 
 /* CSS Document */
/* sørger for at vi kan bruke æ. ø og å */
 @charset "UTF-8";


/* Definerer body taggen*/
body{
    
    color: black;
    font-family: "Lucida Sans", sans-serif;
    /*background-image: linear-gradient(to right, lightblue, #33b5e5); /* Standard syntax (must be last) - Gradient Background */
    background-color: aqua;  
    }
    @media only screen and (max-width: 600px) {
        body {
          background-color: green;
        }
      }


/* Definerer main taggen. Det vil si hvordan gridsene skal oppføre seg på overordnet nivå*/
.main {
	display: grid; /* Definerer at sidene skal vises med grids*/
	grid-column-gap: 15px; /* mellomrom mellom gridsene horisontalt*/
	grid-row-gap: 5px;  /*mellomrom mellom gridsene vertikaltt*/
	text-align: center; /* all teks skal midtstilles som standard*/
	grid-template-columns: repeat(5, 1fr); /* deler skjermen i 5 like store deler - horisontalt */
	grid-template-rows: minmax(20px, auto) ; /* deler skjermen - horisontalt */
	grid-auto-columns: minmax(auto, auto);
  border-style:dotted;
}
/* Definerer header taggen/griden*/
.header {
	display: grid;
	grid-column:1/8;
	border-radius: 25px; /*Avrunnede hjørner */
	border-style:dotted;
	background-image: linear-gradient(to left,aqua #33b5e5); /* Standard syntax (must be last) - Gradient Background */
  text-align: center;
}
